.Nina{
  margin: 60pt;
  overflow:hidden;
  font-family: "Palatino", serif;
  font-weight: normal;
  font-size: 24pt;
}
window{
  height: 5000px;
  width: 100%;

}
p1{
  font-size: 72pt;
  line-height: 74pt}
p2{
  position: fixed;
  top:950pt;}
p3{
  position: fixed;
  top:1450pt;
  font-size: 40pt;
}
p4{
  position: fixed;
  top:1500pt;}
p5{
  position: absolute;
  top:2100pt;}
p6{
  color: red;
  position: absolute;
  top: 2130pt;
  left: 200pt;
  font-weight: bold;
  font-size: 70pt;
}
p7{
  position: absolute;
  top:2550pt;
  line-height: 40pt;
  }
p8{
  position: absolute;
  top:3200pt;
  font-size: 36pt;}


.Thomas{
  margin: 30pt;
    font-family: "Palatino", serif;
    font-weight: bold;
    font-size: 24pt;
}

p9{
  position: absolute;
  top: 600pt;
  font-size: 40pt;

  }
p10{
  font-size: 40pt;
  position: absolute;
  top:1250pt;}
p11{
  position: absolute;
  top:1800pt;}
p12{
  position: absolute;
  top:2100pt;}
p13{
  color: red;
  position: absolute;
  top: 2130pt;
  left: 200pt;
  font-weight: bold;
  font-size: 70pt;}

p14{
  position: absolute;
  top:2900pt;}
p15{
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-size: 50pt;
  position: absolute;
  width: 700px;
  top:3330pt;
  right: 287pt;
  background-color: white;
  }
p16{
  margin: 10px;
  text-align: center;
  position: absolute;
  padding: 50px 0px 50px 0px;
  top: 3510pt;
  width: 700px;
  right: 280pt;
  background-color: white;
}
p17{
  font-size: 100pt;
  color: white;
  position: absolute;
  text-align: center;
  top: 3850pt;
  height: 200px;
  width:800px;
  right: 500pt;
}
p18{
  font-size: 100pt;
  color: black;
  position: absolute;
  text-align: center;
  top: 3850pt;
  height: 200px;
  width:800px;
  right: 65pt;
}
.blackLeft{
  height: 5500px;
  width: 50%;
  position: absolute;
  background-color: black;
  z-index: 1;
  color: white;

}
.whiteRight {
  height: 5500px;
  width: 50%;
  position: absolute;
  right:0;
  background-color: white;
  z-index:1;
}
