body{
  font-family: "Palatino", serif;
  font-weight: normal;
  font-size: 16pt;
}
.Nina{
  margin: 60pt;
}
p1{
  font-size: 24pt;
  line-height: 40pt}
p2{
  position: absolute;
  top:224pt;}
p3{
  position: absolute;
  top:299pt;
  font-size: 24pt;
  ;
}
p4{
  position: absolute;
  top:333pt;}
p5{
  position: absolute;
  top:427pt;}
p6{
  color: red;
  position: absolute;
  top: 437pt;
  left: 200pt;
  font-size: 30pt;
}
p7{
  position: absolute;
  top:531pt;}
p8{
  position: absolute;
  top:606pt;
  font-size: 24pt;}


.Thomas{
  margin: 30pt;
}

p9{
  position: absolute;
  top: 105pt;
  font-size: 24pt;
  }
p10{
  font-size: 24pt;
  position: absolute;
  top:224pt;}
p11{
  position: absolute;
  top:325pt;}
p12{
  position: absolute;
  top:427pt;}
p13{
  color: red;
  position: absolute;
  top: 437pt;
  left: 270pt;
  font-size: 30pt;}
p14{
  position: absolute;
  top:531pt;}
p15{
  font-size: 24pt;
  position: absolute;
  top:606pt;}
p16{
  position: absolute;
  top: 646pt;
}
p17{
  font-size: 24pt;
  position: absolute;
  top: 706pt;
}

.blackLeft{
  height: 100%;
  width: 50%;
  position: fixed;
  left:0;
  background-color: black;
  z-index: 1;
  color: white;
}
.whiteRight {
  height: 100%;
  width: 50%;
  position: fixed;
  right:0;
  background-color: white;
  z-index:1;
}
