body{
  font-family: "Palatino", serif;
  font-weight: normal;
  font-size: 16pt;
}
.Nina{
  margin: 30pt;
}
p1{
  font-size: 24pt;
  line-height: 40pt}
p2{
  position: absolute;
  top:161pt;}
p3{
  position: absolute;
  top:196pt;
  font-size: 24pt;
  ;
}
p4{
  position: absolute;
  top:220pt;}
p5{
  position: absolute;
  top:264pt;}
p6{
  color: red;
  position: absolute;
  top: 284pt;
  left: 115pt;
  font-size: 30pt;
}
p7{
  position: absolute;
  top:328pt;}
p8{
  position: absolute;
  top:403pt;
  font-size: 24pt;}


.Thomas{
  margin: 30pt;
}

p9{
  position: absolute;
  top: 70.5pt;
  font-size: 24pt;
  }
p10{
  font-size: 24pt;
  position: absolute;
  top:161pt;}
p11{
  position: absolute;
  top:196pt;}
p12{
  position: absolute;
  top:220pt;}
p13{
  line-height: 60pt;
  color: red;
  position: absolute;
  top: 284pt;
  left: 140pt;
  font-size: 30pt;}
p14{  position: absolute;
  top:328pt;}
p15{
  font-size: 24pt;
  position: absolute;
  top:403pt;}

.blackLeft{
  height: 100%;
  width: 50%;
  position: fixed;
  left:0;
  background-color: black;
  z-index: 1;
  color: white;
}
.whiteRight {
  height: 100%;
  width: 50%;
  position: fixed;
  right:0;
  background-color: white;
  z-index:1;
}
