html, body{
}
#delhiAPI{
}
#delhiCO{

}
#delhiNO2{
}
#delhiO3{

  }
#delhiPM10{

  }
#delhiPM25{

}
#delhiSO2{
  }

  .content {
  margin: auto;
  text-align: center;
  }

  #c {
  margin: auto;
  }

  .hexagon {
  width: 70vw;
  height: 70vw;
  margin: auto;
  padding: 0;
  display:inline-block;
  }
