html, body{
  font-family: "Avenir",sans-serif;
}
ul{
  position: absolute;
  left: 20vw;
  font-size: 2em;
}
.cityName{
  font-weight: bold;
}
#delhiAPI{
}
#delhiCO{{}
#delhiNO2{
}
#delhiO3{


  }
#delhiPM10{

  }
#delhiPM25{


}
#delhiSO2{

  }
